body{
    height: 100vh;
    a{
        text-decoration: none;
    }
    h5{
        padding: 1% 1% 0% 1%;
    }
    h1{
        margin: 0% 2% 0% 1%;
        padding-bottom: 0.5%;
    }
}
@media (max-width: 991.98px) { 
    .card{
        margin: 20%;
    }
    .widget_soundcloud{
        height: 400px
    }
}

.main__titulo{
    @extend h5 ;
    margin-bottom: 1%;
}

.main__equipamiento__titulo .main__equipamiento__texto__parrafo .main__equipamiento__texto__titulo{
    @extend .main__titulo;
    margin-left: 1%;
} 
